<section>
  <h2 class="title-hexagonal title-section-hex-orange">Arte Culinario
    Ecuatoriano</h2>
  <div data-aos-offset="300" data-aos="zoom-out-up" data-aos-delay="500">
    <figure class="imagen-banner-arte-culinario"></figure>
  </div>

  <div class="content">
    <div class="outside">
      <div class="card-wrapper">
        <div class="card-img">
          <img src="img/carreras-vigentes/plato-arte-culinario.jpg" alt="picture" />
        </div>
        <div class="card-info">
          <p class="card-description">
              	La carrera dual de Arte Culinario Ecuatoriano forma profesionales técnicos 
                  en gastronomía ecuatoriana, desarrollando conocimientos teóricos y metodológicos
                   que rescatan e impulsan nuestra cultura y tradiciones culinarias mediante la 
                   aplicación de los aprendizajes en un contexto empresarial competitivo.
          </p>
             <p class="card-description">
                 Por lo tanto, el Técnico en Arte Culinario, al estar capacitado en la preparación
                  de recetas de la cocina ecuatoriana, a través el uso de técnicas tradicionales e 
                  innovadoras, puede desempeñarse como jefe de partida, ayudante de cocina, 
                  parrillero, carnicero, entremetier, potager panadero y pastelero.
             </p> 
        </div>
      </div>
    </div>
  </div>

  <div class="content-hexagonal parrafo-section">
      <h2  class="parrafo-final">Resolución</h2>
      <p  class="parrafo-final">RPC-SO-05-No.062-2018</p>
     <div class="botton-parrofo-final">
     <a class="footer-call-to-action-button button" href="pdf/resoluciones/ARTE-CULINARIO-RPC-SO-05-No.062-2018.pdf" target="_self"> Leer más</a>
  </div>
</div>

  <div class="content body section-hex">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-titulo.png"
            alt="titulo"
          />
        </div>
        <h3>Título a obtener</h3>
        <span>Técnico Superior en Arte Culinario Ecuatoriano</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-calendario.png"
            alt="duracion"
          />
        </div>
        <h3>Duración</h3>
        <span>El tiempo de duración es de Cuatro Semestres</span>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-instituto.png"
            alt="instituto"
          />
        </div>
        <h3>Instituto para postular</h3>
        <span>Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac</span>
      </section>
    </main>
  </div>
  <div class="content body">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-modalidad.png"
            alt="modalidad"
          />
        </div>
        <h3>Modalidad</h3>
        <span>Consta de modalidad Dual / Jornada intensiva</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-malla-curricular.png"
            alt="malla-curricular"
          />
        </div>
        <h3>Malla curricular</h3>
        <span>Dentro de la malla curricular están las asignaturas por semestres</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-docentes.png"
            alt="Dewgong"
          />
        </div>
        <h3>Equipo docente</h3>
        <span>Conoce al equipo de docentes a cargo de la carrera de arte culinario</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
    </main>
  </div>
  <div class="content-hexagonal">
    <div class="grid">
        <div class="adicionales-grid section-hex content-hexagonal">
            <div class="parrafo-section content"> 
                <h2 class="parrafo-final title-section-hex-white">Testimonios</h2>
                <iframe width="560" height="315" src="video/arte-culinario.mp4" 
                title="YouTube video player" frameborder="1" allow="accelerometer; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="adicionales-grid section-hex content-hexagonal">
            <div class="parrafo-section content title-section-hex-white">
                 <h2 class="parrafo-final">Contáctanos</h2>
                <a href="https://www.yavirac.edu.ec" class="hover">
                   <p class="parrafo-final margin-top-parrafo-final ">www.yavirac.edu.ec</p>
                 </a>
                <p class="parrafo-final">García Moreno S4-35 y Ambato</p>
                <a href="mailto:sbohorquez@yavirac.edu.ec" class="hover">
                   <p class="parrafo-final">sbohorquez@yavirac.edu.ec</p>
                </a>
                <p class="parrafo-final">023941080</p>
            </div>
        </div>
     </div>
</div>
</section>