<section>
  <h2 class="title-hexagonal title-section-hex-orange">Control de incendios y Operaciones de rescate</h2>
  <div data-aos-offset="300" data-aos="zoom-out-up" data-aos-delay="500">
    <figure class="imagen-banner-control-incendios"></figure>
  </div>

  <div class="content">
    <div class="outside">
      <div class="card-wrapper">
        <div class="card-img">
          <img src="img/carreras-vigentes/control-incendios.jpg" alt="picture" />
        </div>
        <div class="card-info">
          <p class="card-description">
              	El tecnólogo superior en control de incendios y operaciones de rescate, 
                  tiene la capacidad de elaborar planes de trabajo para la capacitación en 
                  prevención de incendios forestales en las comunidades rurales, además de 
                  aplicar la normativa vigente en materia de inspección y planes de autoprotección 
                  de edificios e instalaciones industriales que garanticen el normal desenvolvimiento
                   de las unidades productivas y de servicios del cantón.
          </p>
             <p class="card-description">
                 Lidera y conforma brigadas multidisciplinarias para responder diferentes situaciones
                  de urgencia y emergencia; contribuye a la divulgación y cumplimiento de los 
                  principios y normas de protección antes, durante y después de los siniestros, 
                  así como también capacita y brinda información a la comunidad en materia de 
                  prevención de incendios estructurales y forestales.
             </p> 
             <a href="https://www.bomberosquito.gob.ec" style="color: #3366ff;">
                 <p class="card-description">
                     	https://www.bomberosquito.gob.ec
                 </p>
             </a>
             <a href="https://www.bomberosquito.gob.ec/dt_slideshow/escuela-de-formacion/" style="color: #3366ff;">
                 <p class="card-description">
                     	https://www.bomberosquito.gob.ec/dt_slideshow/escuela-de-formacion/
                 </p>
             </a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-hexagonal parrafo-section">
      <h2  class="parrafo-final">Resolución</h2>
      <p  class="parrafo-final">RPC-SO-01-No.003-2020</p>
      <p  class="parrafo-final">Oferta focalizada</p>
     <div class="botton-parrofo-final">
     <a class="footer-call-to-action-button button" href="pdf/resoluciones/Resolución-Control-Incendios.pdf" target="_self"> Leer más</a>
  </div>
</div>

  <div class="content body section-hex">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-titulo.png"
            alt="titulo"
          />
        </div>
        <h3>Título a obtener</h3>
        <span>Tecnólogo Superior en Control de Incendios y Operaciones de Rescate</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-calendario.png"
            alt="duracion"
          />
        </div>
        <h3>Duración</h3>
        <span>El tiempo de duración es de Cuatro Semestres</span>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-instituto.png"
            alt="instituto"
          />
        </div>
        <h3>Instituto para postular</h3>
        <span>Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac</span>
      </section>
    </main>
  </div>
  <div class="content body">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-modalidad.png"
            alt="modalidad"
          />
        </div>
        <h3>Modalidad</h3>
        <span>Consta de modalidad Dual / Jornada intensiva</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-malla-curricular.png"
            alt="malla-curricular"
          />
        </div>
        <h3>Malla curricular</h3>
        <span>Dentro de la malla curricular están las asignaturas por semestres</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-docentes.png"
            alt="Dewgong"
          />
        </div>
        <h3>Equipo docente</h3>
        <span>Conoce al equipo de docentes de la carrera Control de incendios y Operaciones de rescate</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
    </main>
  </div>
  <div class="content-hexagonal parrafo-section">
                <p class="parrafo-final">Contáctanos</p>
                <a href="https://www.yavirac.edu.ec" style="color: #3366ff;">
                   <p class="parrafo-final">www.yavirac.edu.ec</p>
                 </a>
                <p class="parrafo-final">García Moreno S4-35 y Ambato</p>
                <a href="mailto:jfranco@yavirac.edu.ec" style="color: #3366ff;">
                  <p class="parrafo-final">jfranco@yavirac.edu.ec</p>
                </a>
                <p class="parrafo-final">023941080</p>
            </div>
</div>
</section>