<section>
    <h2 class="title-hexagonal title-section-hex-orange">Curso de Docencia</h2>
    <div class="grid-inti-50">
        <div class="adicional-grid">
             <div id="imagen-curso-docencia-patronaje" class="curso-docencia1">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Curso de elaboración de portafolio docente</p>
                    <p id="descripcion-curso-docencia-patronaje">
                       Dirigido a docentes de educación técnica tecnológica  que quieran incursionar en el campo de la educación  superior.
                    </p>
                </div>
            </div>
        </div>

        <div class="adicional-grid"> 
            <div id="imagen-curso-docencia-patronaje" class="curso-docencia2">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Curso de pedagogía técnica y tecnológica</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Dirigido a docentes de educación técnica tecnológica  que quieran incursionar en el campo de la educación  superior.
                    </p>
                </div>
            </div>
        </div>

    </div>

        <div>
            <figure class="imagen-section">
                <h3 class="animated bounceInRight infinite center">
                    Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
                </h3>
            </figure>
        </div>

     <div class="grid-inti-50">

        <div class="adicional-grid">
             <div id="imagen-curso-docencia-patronaje" class="curso-docencia3">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Curso de investigación técnica y tecnológica</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Este curso pretende otorgar herramientas suficientes para emprender el proceso investigativo en el ejercicio de la educación universitaria.
                    </p>
                </div>
            </div>
        </div>

        <div class="adicional-grid"> 
            <div id="imagen-curso-docencia-patronaje" class="curso-docencia4">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Curso de fotografía básica aplicada al patrimonio cultural</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Dirigido al público con o sin conocimiento del uso de cámaras digitales, la cultura que plasme sus ideas y conocimiento en la fotografía. Con enfoque hacia el Patrimonio.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>