<section>
    <h2 class="title-hexagonal title-section-hex-orange">LIBROS Y PUBLICACIONES</h2>
    <div class="grid-inti-50">

        <div class="adicional-grid">
            <a href="pdf/investigacion/libro-Ivan_borja-1.pdf" target="_blank">
                 <div id="imagen" class="investigacion1">
                <div id="info">
                    <p id="headline">Elementos Estretégicos del Poder</p>
                    <p id="descripcion">
                        Serie de Publicaciones «Ciencias, Tecnología y Sociedad»
                    </p>
                    <p id="autor">
                        <span>Autor: Iván Borja Carrera</span>
                    </p>
                    <p id="publicacion">
                        <span>Año de publicación: 2018</span>
                    </p>
                </div>
            </div>
            </a>
        </div>

        <div class="adicional-grid"> 
            <a href="pdf/investigacion/libro-Aquiles-Hervas.pdf" target="_blank">
                <div id="imagen" class="investigacion2">
                    <div id="info">
                        <p id="headline">Memoria, lo común y la desconlonización de la Vida</p>
                        <p id="descripcion">
                            Serie de Publicaciones «Ciencias, Tecnología y Sociedad»
                        </p>
                        <p id="autor">
                            <span>Autor: Aquiles Hervas Parra</span>
                        </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2018</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

     <div class="grid-inti-50">
       
        <div class="adicional-grid">
                <a href="pdf/investigacion/libro-Jorge-Gomez-web.pdf" target="_blank">
                    <div id="imagen" class="investigacion3">
                        <div id="info">
                            <p id="headline">La expansión de los márgenes a través del arte contemporáneo</p>
                            <p id="descripcion">
                                Serie de Publicaciones «Ciencias, Tecnología y Sociedad»
                            </p>
                            <p id="autor">
                                <span>Autor: Jorge Gómez Díaz</span>
                            </p>
                            <p id="publicacion">
                                <span>Año de publicación: 2018</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        <div class="adicional-grid"> 
            <a href="pdf/investigacion/boletin-yavirac-web.pdf" target="_blank">
                <div id="imagen" class="investigacion4">
                    <div id="info">
                        <p id="headline">Boletín Nº 1</p>
                        <p id="descripcion">
                            Serie de Publicaciones «Ciencia, Tecnología y Sociedad»
                        </p>
                        <p id="autor">
                            <span>ISBN: 978-9942-22-466-8</span>
                        </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2019</span>
                        </p>
                    </div>
                </div>
            </a>    
        </div>

    </div>

        <div>
            <figure class="imagen-section">
                <h3 class="animated bounceInRight infinite center">
                    Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
                </h3>
            </figure>
        </div>

     <div class="grid-inti-50">

        <div class="adicional-grid">
            <a href="pdf/investigacion/Divulgación-de-Resultados-de-ID.pdf" target="_blank">
                <div id="imagen" class="investigacion5">
                    <div id="info">
                        <p id="headline">PLANIFICACIÓN A LARGO PLAZO INVESTIGACIÓN E INNOVACIÓN TECNOLÓGICA</p>
                        <p id="descripcion">Comunicado Oficial de Divulgación de los Resultados de I+D dentro de 
                            la Comunidad Educativa del Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac
                            </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2018 – 2020</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="adicional-grid"> 
            <a href="pdf/investigacion/libro-ritam-v04-digital.pdf" target="_blank">
                <div id="imagen" class="investigacion6">
                    <div id="info">
                        <p id="headline">RITAM</p>
                        <p id="descripcion">
                            Memorias «ENCUENTRO DE INVESTIGACIÓN TECNOLÓGICA Y ARTES MUSICALES»
                        </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2019</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

     <div class="grid-inti-50">

        <div class="adicional-grid">
            <a href="pdf/investigacion/boletin-2-agosto-web.pdf" target="_blank">
                <div id="imagen" class="investigacion7">
                    <div id="info">
                        <p id="headline">Boletín Nº 2</p>
                        <p id="descripcion">
                            Serie de Publicaciones «Ciencia, Tecnología y Sociedad»
                        </p>
                        <p id="autor">
                            <span>ISBN: 978-9942-22-493-4</span>
                        </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2020</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="adicional-grid"> 
            <a href="pdf/investigacion/boletin_redmoda_2020.pdf" target="_blank">
                <div id="imagen" class="investigacion8">
                    <div id="info">
                        <p id="headline">Boletín N° 1</p>
                        <p id="descripcion">
                            Instituto Superior Tecnológico Gran Colombia «Red Moda»
                        </p>
                        <p id="publicacion">
                            <span>Año de publicación: 2020</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</section>