<section>
  <h2 class="title-hexagonal title-section-hex-orange">Guia Nacional de Turismo</h2>
  <div data-aos-offset="300" data-aos="zoom-out-up" data-aos-delay="500">
    <figure class="imagen-banner-turismo"></figure>
  </div>

  <div class="content">
    <div class="outside">
      <div class="card-wrapper">
        <div class="card-img">
          <img src="img/carreras-vigentes/turismo.jpg" alt="picture" />
        </div>
        <div class="card-info">
          <p class="card-description">
            La carrera dual de Guía Nacional de Turismo forma tecnólogos que aportan a 
            la eficiencia de los servicios turísticos, mediante la guianza especializada 
            y evaluación de las buenas prácticas de turismo sostenible, dentro de un ámbito 
            de respeto a la diversidad y responsabilidad socio ambiental. 
          </p>
          <p class="card-description">
            Por lo tanto, el campo ocupacional del Guía Nacional de Turismo puede estar en: 
            tour operadores, agencias de viajes, empresas de transporte turístico, museos, 
            galerías, tiendas artesanales, reservas naturales privadas, centros de interpretación 
            de Áreas del SNAP, parques temáticos, complejos recreacionales, sitios arqueológicos, 
            espacios de avistamiento de aves, emprendimientos comunitarios, instituciones públicas
             relacionadas con la gestión del Turismo, instituciones públicas relacionadas con la
              gestión del patrimonio, instituciones públicas relacionadas con la gestión del medio
               ambiente y operaciones turísticas propias.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-hexagonal parrafo-section">
      <h2  class="parrafo-final">Resolución</h2>
      <p  class="parrafo-final">RPC-SO-05-No.062-2018</p>
     <div class="botton-parrofo-final">
     <a class="footer-call-to-action-button button" href="pdf/resoluciones/GUIA-NACIONAL-DE-TURISMO-RPC-SO-23-No.362-2018.pdf" target="_self"> Leer más</a>
  </div>
</div>

  <div class="content body section-hex">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-titulo.png"
            alt="titulo"
          />
        </div>
        <h3>Título a obtener</h3>
        <span>Guía Nacional de Turismo con nivel equivalente a Tecnología Superior</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-calendario.png"
            alt="duracion"
          />
        </div>
        <h3>Duración</h3>
        <span>El tiempo de duración es de Cinco Semestres</span>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-instituto.png"
            alt="instituto"
          />
        </div>
        <h3>Instituto para postular</h3>
        <span>Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac</span>
      </section>
    </main>
  </div>
  <div class="content body">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-modalidad.png"
            alt="modalidad"
          />
        </div>
        <h3>Modalidad</h3>
        <span>Consta de modalidad Dual / Jornada intensiva</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-malla-curricular.png"
            alt="malla-curricular"
          />
        </div>
        <h3>Malla curricular</h3>
        <span>Dentro de la malla curricular están las asignaturas por semestres</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="img/carreras-vigentes/icons/icono-docentes.png"
            alt="Dewgong"
          />
        </div>
        <h3>Equipo docente</h3>
        <span>Conoce al equipo de docentes a cargo de la carrera de Guia Nacional de Turismo</span>
        <button class="footer-call-to-action-button button hvr-wobble-horizontal">Más información</button>
      </section>
    </main>
  </div>
  <div class="content-hexagonal">
    <div class="grid">
        <div class="adicionales-grid section-hex content-hexagonal">
            <div class="parrafo-section content"> 
                <h2 class="parrafo-final title-section-hex-white">Testimonios</h2>
                <iframe width="560" height="315" src="video/guía-nacional-turismo.mp4" 
                title="YouTube video player" frameborder="1" allow="accelerometer; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="adicionales-grid section-hex content-hexagonal">
            <div class="parrafo-section content title-section-hex-white">
                <h2 class="parrafo-final">Contáctanos</h2>
                <a href="https://www.yavirac.edu.ec" class="hover">
                   <p class="parrafo-final margin-top-parrafo-final">www.yavirac.edu.ec</p>
                 </a>
                <p class="parrafo-final">García Moreno S4-35 y Ambato</p>
                <a href="mailto:cviteri@yavirac.edu.ec" class="hover">
                   <p class="parrafo-final">cviteri@yavirac.edu.ec</p>
                </a>
                <p class="parrafo-final">023941080</p>
            </div>
        </div>
     </div>
</div>
</section>